.categories {
  box-shadow: 0 0px 75px rgb(32 31 46 / 45%);
  background: linear-gradient(180deg, #201f2e 74%, rgba(32, 31, 46, 0.2) 100%);

  margin-top: -1px;
  padding-top: 24px;

  &__list {
    display: flex;

    line-height: normal;

    overflow-x: auto;

    padding: 0 24px 1px;

    &__item {
      border-radius: 32px;
      border: 1px solid transparent;

      font-weight: 300;

      margin: 0 8px;
      padding: 8px 16px;

      cursor: pointer;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      transition: all 0.2s ease;

      &--active {
        color: $white;
        border-color: $primaryTextColor;
      }

      &:hover {
        color: $white;
        border-color: $primaryTextColor;
      }
      &:active {
        color: $white;
        border-color: $primaryTextColor;
      }
      &:focus {
        color: $white;
        border-color: $primaryTextColor;
      }
    }
  }
}
