.detailed__card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //   background: url('src/assets/img/image.png') 8% 0 no-repeat;
  display: flex;
  flex-direction: column;

  z-index: 1000;

  img {
    position: fixed;
    top: 0;
    left: 0;

    z-index: -10;
  }

  &__wrapper {
    background-color: $secondaryBgColor;
    border-radius: 0 32px 0 0;
    transform: translateY(50%);
  }

  &__button {
    position: fixed;
    width: 64px;
    height: 64px;
    left: 32px;
    top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $buttonBg;
    border-radius: 16px;

    z-index: 10;
    cursor: pointer;
  }

  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    // background-color: $primaryBgColor;
    // background-color: $secondaryBgColor;
    border-radius: 0 32px 0 0;

    padding: 32px;

    &::after {
      position: absolute;
      width: 100%;
      content: '';
      background-color: $primaryBgColor;
      height: 100%;
      top: 0;
      z-index: -10;
      left: 0;
      border-radius: 0% 32px 35% 60% / 0% 32px 32% 35%;
    }

    &__title {
      margin-bottom: 32px;
    }

    &__ingredients {
      width: 100%;

      &__list {
        &__item {
          display: flex;
          justify-content: space-between;
          align-items: baseline;

          line-height: normal;

          span {
            letter-spacing: 0.5px;
          }

          .divider {
            flex: 1 0;
            border-bottom: 2px dotted $primaryTextColor;
          }

          .ingredient {
            &__name,
            &__amount {
              font-family: inherit;
              font-weight: 300;
            }

            &__name {
              padding-right: 3px;
              //   &::after {
              //     content: '........................................................';
              //     display: block;
              //     white-space: nowrap;
              //     overflow: hidden;
              //   }
            }

            &__amount {
              padding-left: 3px;
            }
          }
        }
      }
    }
  }

  &__footer {
    position: relative;

    // background-color: $secondaryBgColor;
    padding: 0 32px;
    margin-top: -1px;

    &__recipe {
      &__item {
        font-family: inherit;
        font-weight: 300;
        line-height: normal;
        text-align: justify;
        letter-spacing: 0.5px;
      }
    }
  }
}
