@import '../../scss/vars';

.card {
  &_empty {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.96%, rgba(14, 13, 19, 0.9) 89.58%);
    max-width: 320px;

    cursor: default;

    picture {
      left: 0;
    }
  }
  &-header {
    &_empty {
      width: 100%;
      background-color: transparent;

      align-items: center;
      text-align: center;

      h3 {
        font-weight: 400;
      }
    }
  }
}
