@import '../../scss/vars';

.detailedCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  picture,
  img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: -10;

    @media only screen and (min-width: 768px) {
      top: -15%;
    }
  }

  &-wrapper {
    background-color: $secondaryBgColor;
    border-radius: 0 32px 0 0;

    margin-top: clamp(200px, 30%, 800px);
    padding-bottom: 128px;
  }

  &-button {
    position: fixed;
    width: 64px;
    height: 64px;
    left: 32px;
    top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $buttonBg;
    border-radius: 16px;

    z-index: 100;
    cursor: pointer;
  }

  &-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 0 32px 0 0;

    padding: 32px;

    &::before {
      position: absolute;
      width: 100%;
      content: '';
      background-color: $primaryBgColor;
      height: 100%;
      top: -1px;
      z-index: 0;
      left: 0;
      border-radius: 0% 32px 35% 60% / 0% 32px 32% 35%;
    }
  }

  &-title {
    margin-bottom: 32px;

    z-index: 10;
  }

  &-ingredients {
    width: 100%;

    z-index: 5;

    ul {
      li {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        line-height: normal;

        span {
          letter-spacing: 0.5px;
          font-family: inherit;
          font-weight: 300;
        }

        .divider {
          flex: 1 0;
          border-bottom: 2px dotted $primaryTextColor;

          margin: 0 3px;
        }
      }
    }
  }

  &-footer {
    padding: 0 32px;
    margin-top: -1px;

    ul {
      li {
        font-family: inherit;
        font-weight: 300;
        line-height: normal;
        text-align: justify;
        letter-spacing: 0.5px;
      }
    }
  }
}
