@import '../../scss/vars';
.icon {
  cursor: pointer;

  &-favorited {
    position: absolute;
    top: -4px;
    right: 11%;
    z-index: 50;

    &_active path {
      fill: $buttonActive !important;
    }
  }

  &-search {
    margin-right: 24px;
  }

  &-close {
    position: absolute;
    right: 55px;
  }

  &-logo {
    @media only screen and (min-width: 200px) and (max-width: 400px) {
      width: 70px;
      height: 24px;
    }
  }
}
