@import './vars';
@import './libs/reset';
@import './components/all';

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: $primaryTextColor;

  background-color: $primaryBgColor;
}

.wrapper {
  overflow-x: hidden;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  color: $white;
}

h3 {
  color: $white;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.07em;
}

h4 {
  color: $white;
  font-weight: 500;

  margin-bottom: 8px;
}

.drinkDescription {
  font-weight: 300;
}

.content {
  margin: 48px 0 32px;
  padding: 155px 0 96px;

  &__box {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    gap: 32px;

    padding: 0 32px;

    &--justify {
      justify-content: space-between;
    }
  }
}

.notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  display: none;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    $secondaryBgColor 0%,
    rgba(14, 13, 19, 0.9) 46.54%,
    rgba(14, 13, 19, 0) 100%
  );

  color: $buttonActive;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  text-align: center;

  opacity: 0;
  z-index: 10;
}
